body {
    margin: 0;
    background-color: #80a5bd;
}

.stopwatch-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-display {
    display: flex;
    color: #d8d8d8;
}

.timer-display p {
    margin: 0;
    font-size: 4rem;
    letter-spacing: 2px; 
}

.timer-display span {
    font-size: 3rem;
    position: relative;
    top: 8px;
    letter-spacing: 2px;
}